* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    background-color: #1e1e1e;
}

#hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#hero span {
    opacity: 0;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#hello {
    animation-name: fadeIn;
    animation-delay: 0s;
}

#there {
    animation-name: fadeIn;
    animation-delay: 0.05s;
}

#ellipsis-1 {
    animation-name: fadeIn;
    animation-delay: 0.1s;
}

#ellipsis-2 {
    animation-name: fadeIn;
    animation-delay: 0.5s;
}

#ellipsis-3 {
    animation-name: fadeIn;
    animation-delay: 0.9s;
}

#my {
    animation-name: fadeIn;
    animation-delay: 2.5s;
}

#name {
    animation-name: fadeIn;
    animation-delay: 2.55s;
}

#is {
    animation-name: fadeIn;
    animation-delay: 2.6s;
}

#your-name {
    animation-name: fadeIn;
    animation-delay: 2.65s;
    background: linear-gradient(45deg, #9b4de7, #ba55d3); /* Purple gradient */
    -webkit-background-clip: text; /* Clip the background to text */
    color: transparent; /* Make the text itself transparent to show the gradient */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    section {
        height: 100vh;
        padding: 10px;
    }

    #hero h1 {
        font-size: 2rem;
    }

    #hero span {
        font-size: 1.5rem;
    }
}
